h1 {
    font-size: 3em;
    text-align: center;
    margin-right: 3px;
}

p {
    padding: 10px;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: whitesmoke;
    background-image: linear-gradient(90deg, white, whitesmoke, lightgray, gray );
    font-family: 'SNES', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color: white;
     text-shadow: 8px 8px 4px black;
}

aside {
    text-align: center;
    margin: 0px;
    width: 15%;
    background: gray;
    height:  200%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
    box-shadow: steelblue;
}
.game {
    margin-left:  20%;
    height: 100vh;
    perspective: 1000px;
}

.card {
    max-width: 15%;
    width: 150px;
    height: 120px;
    float: left;   
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    }

.card :active{
    transform: scale(.97);
    transition: .3s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card .front, .card .back  {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 12px;
    visibility:visible;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

}

.front {
    transform: rotateY(180deg);
}

.buton {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"SNES";
	font-size:17px;
	padding:7px 25px;
	text-shadow:0px 1px 0px #810e05;
}

.buton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color: #f24437;
}

.buton:active {
	position:relative;
	top:1px;
}
